<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
  <!-- container for metadata (is not displayed on the page)
  title,styles(css),link, scripts,meta and other  -->
</head>
<body>
<b>Welcome to Java developer course</b>
<h1 align="center" style="color: aqua">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>
<img src="springboot.png"alt="Spring boot image">
<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>
<a href="https://cydeo.com"> Cydeo</a>
<br>
<br>
<table>
    <tr>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>
</table>

<label>UserName:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="password">
<br>
<label>Enter your comments</label>
<textarea name="comments"></textarea>
<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other
<br>
<label>Please select your favorite courses</label>
<input type="checkbox" name ="course" value="spring">Spring
<input type="checkbox" name ="course" value="Ds">Ds
<input type="checkbox" name ="course" value="Java">Java
<br>
<label>Select your program</label>
<select>
    <option value="us-sdet">US SDET</option>
    <option value="eu-sdet">EU SDET</option>
    <option value="us-jd">US JD</option>
    <option value="us-al">US AL</option>
</select>
<br>
<form action="#" method="get">
    firstName:<input type="text" name="first-name">
    <br>
    lastName:<input type="text" name="last-name">
    <br>
    <input type="button" value="submit">

</form>
<br>
<br>
<div style="background-color: blue">
    <h2>JAVA DEVELOPER COURSE</h2>
    <ul>
        <li>Spring</li>
        <li>Data Structure</li>
    </ul>
</div>



</body>
</html>