<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Welcome new student</h2>
<!-- Displaying Value-->
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>
<h2 th:text="${students.get(4).age}"></h2>
<!-- Concatenation-->
<h2 th:text="${'Welcome '+ students.get(0).firstName+' '+students.get(0).lastName}"></h2>
<!-- Link-->
<a th:href="@{https://cydeo.com}">Cydeo Home Page</a>
<br>
<a th:href="@{/student/welcome}">Link1</a><br>
<!-- Adding Parameters to Link-->
<a th:href="@{/student/welcome(id=3)}">Link2</a>
<a th:href="@{/student/welcome(id=${students.get(0).firstName})}">Link3</a>
<br>
<!--Iteration-->
<ul>
    <li th:each="student:${students}" th:text="${student.firstName}">student</li>
</ul>
<table id="studentTable" class="table">

    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>State</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="student:${students}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.state}"></td>
    </tr>
    </tbody>

</table>
<!--Conditional Logic:-->
<div th:text="${students.get(0).age>25 ? 'Eligible':'Not Eligible'}">

</div>
<div>
    <span th:if="${students.get(0).getState()=='Arizona'}">Arizona</span>
    <span th:unless="${students.get(0).getState()=='Arizona'}">Not Arizona</span>
</div>




</body>
</html>